<div class="container info d-md-flex iusm-footer py-5 justify-content-between">
    <div class="iusm-logo ">
      <img src="assets/csv/logo-sium.svg" alt="">
    </div>
    <div class="">
      <p class="text-md-end text-sm-start text-white ">Juan Díaz de Solís 2371, Olivos
        <br>Provincia de Buenos Aires
        <br>Tel: 4512-1014 interno 203
      </p>
    </div>
  </div>

  <div class="col-12 col-md-12 col-lg-12" style="text-align: center; padding-top: 20px; color: #aaa; background-color: white;">
    <p>Diseño, Desarrollo Web y Contenidos | Dirección de Educación | División Plataformas Educativas | PNA 2023</p>
  </div>