<div class="container iusm-related-cards w-75 py-5">
    
    <!-- RELATED CARDS -->
    <div class="row row-cols-1 row-cols-md-3 g-5 ">
      <!-- related title -->
    <div class="iusm-related-title my-md-5" style="background-image: url('assets/csv/related-title.svg');" ></div>
      <div class="col p-3">
        <div class="card">
          <img src="images/economiaslider1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">CARLOS LIBERMAN: PESCAR MEJOR</h5>
            <a href="milla200/milla200-1.html" class=" stretched-link"></a>
            </div>
        </div>
      </div>

      <div class="col p-3">
        <div class="card">
          <img src="images/slider-22.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">CONTROL Y PREVENCIÓN DE LA PESCA ILEGAL</h5>
            <a href="milla200/milla200-2.html" class=" stretched-link"></a>
            </div>
        </div>
      </div>

      <div class="col p-3">
        <div class="card">
          <img src="images/slider-33.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">EL MAR COMO VECTOR DE DESARROLLO</h5>
            <a href="milla200/milla200-3.html" class=" stretched-link"></a>
            </div>
        </div>
      </div>

      <div class="col p-3">
        <div class="card">
          <img src="images/slider-44.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">PROTECCIÓN Y PRESERVACIÓN DE LOS RECURSOS</h5>
            <a href="milla200/milla200-4.html" class=" stretched-link"></a>
            </div>
        </div>
      </div>

      <div class="col p-3">
        <div class="card">
          <img src="images/slider-55.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">PROYECTO FRENTE VALDEZ</h5>
            <a href="milla200/milla200-5.html" class=" stretched-link"></a>
            </div>
        </div>
      </div>

      <!--<div class="col">
        <div class="card">
          <img src="images/milla200/intro-related.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">ARTICULACIÓN EN EL AGUA</h5>
            <a href="milla200/index.html" class=" stretched-link"></a>
            </div>
        </div>
      </div>-->
    </div>
    <!-- FIN RELATED CARDS -->

  </div>